.project_area
{
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   width: 900px;
   height: 300px;
}

.project_info
{
   height: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
   float: left;
   width: 600px;
   justify-content: space-between;
}

.project_title
{
   width: 600px;
}

.project_title .name
{
   font-size: 30px;
   font-weight: bold;
}

.project_title .direction
{
   font-size: 12px;
}

.project_title .date
{
   font-size: 12px;
}

.author_info
{
   position: relative;
   height: 100%;
   float: right;
   width: 300px;
}

.author_photo
{
   position: relative;
   width: 250px;
   height: 250px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.author_photo img
{
   height: 100%;
   width: 100%;
   border-radius: 50%;
   border: 2px solid #303952;
}

.author_name
{
   color: white;
   padding: 2px;
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: #303952;
}

.project_info .description
{
   top: 10px;
   position: relative;
   float: left;
   width: 600px;
}

.button
{
   cursor: pointer;
   font-weight: bold;
   padding: 5px;
   display: block;
   width: 175px !important;
   text-align: center;
   width: auto;
   color: black;
   background-color: white;
   border: 2px solid  rgba(84, 109, 229,1.0);
   transition: 0.3s;
}

.button:hover
{
   color: white;
   background-color:rgba(84, 109, 229,1.0);
}
